.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 11vw;
  hr {
    width: 70%;
    height: 1vh;
    border: none;
    background-size: 200% auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    margin: 1vw;
    margin-bottom: 10px;
  }
}
