.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.5vw;
  max-height: 3653.59px;
  min-height: 1729.97px;
  #b660fb60-2738-45cb-bcf5-2f531dcaa282 {
    fill: #b23a6c;
  }
  hr {
    width: 60%;
    height: .4vh;
    border: none;
    background-size: 200% auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -webkit-linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -moz-linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -o-(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -webkit-gradient(linear, to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    margin: 3.2vw;
    margin-bottom: 10px;
  }
  .logo {
    &hover {
      cursor: pointer;
    }
  }
}

// ********** MEDIA QUERIES **********

// TABLET: potrait
@media screen and (max-width: 992px) {
  .about-page {
    margin-top: 70px;
    margin-bottom: 80px;
    height: 3653.59px;
    min-height: 3653.59px;
    min-width: 333px;
    .logo {
      height: 15vw;
      right: 32px;
      top: 15px;
    }
  }
}

// PHONE: potrait
@media screen and (max-width: 480px) {
  .about-page{
    margin: 60px 20px 70px 20px;
    .logo {
      height: 15vw;
      top: 11px;
      right: 26px;
    }
  }
}
