.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7vw;
  #b660fb60-2738-45cb-bcf5-2f531dcaa282 {
    fill: #b23a6c;
  }
  hr {
    width: 60%;
    height: .4vh;
    border: none;
    background-size: 200% auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    margin: 3.2vw;
    margin-bottom: 10px;
  }
}
