.bio-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin: 10vw;
  .profile, .visual {
    margin: 10px;
  }
  .profile {
    border: 2px solid red;
    padding: 15px;
    width: 60%;
    h4, h1 {
      font-family: 'Comfortaa';
    }
    h1 {
      margin-bottom: 0;
      letter-spacing: 2px;
    }
    h4 {
      margin: 10px 0 0 0;
      font-size: 17px;
      color: #7a097a;
    }
    .profile-btns{
      text-align: center;
      .resume-btn {
        font-family: 'Comfortaa';
        font-weight: bold;
        font-size: 10px;
        color: white;
        text-align: center;
        transition: 0.5s;
        border-radius: 10px;
        letter-spacing: 5px;
        margin: 0 auto;
        padding: 10px;
        border: none;
        -webkit-text-stroke: 0.2px;
        background-size: 200% auto;
        box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
        background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
        &:hover {
          color: black;
          cursor: pointer;
          background-position: right center;
        }
      }
    }
  }
  .visual {
    border: 2px solid red;
    padding: 15px;
    width: 30%;
  }
}
