.bio-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  .profile, .visual {
    margin: 10px;
  }
  .profile {
    // border: 2px solid red;
    padding: 10px;
    width: 55%;
    h4, h1 {
      font-family: 'Comfortaa';
    }
    h1 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-size: 50px;
      color: #b23a6c;
    }
    h4 {
      margin: 10px 0 0 0;
      font-size: 17px;
      color: #26bd9f;
    }
    .sub-line {
      margin-top: 5px;
      font-size: 15px;
    }
    .bio-text {
      font-size: 13px;
      background-color: #fffefe66;
      padding: 10px 20px 20px;
      border-radius: 8px;
      margin: 20px 0;
      line-height: 1.4;
    }
    .profile-btns {
      text-align: center;
      .resume-btn {
        font-family: 'Comfortaa';
        font-weight: bold;
        font-size: 14px;
        color: white;
        text-align: center;
        transition: 0.5s;
        border-radius: 10px;
        letter-spacing: 5px;
        margin: 0 auto;
        padding: 12px;
        border: none;
        -webkit-text-stroke: 0.2px;
        background-size: 200% auto;
        box-shadow: 2px 7px 8px 0px #000000ab;
        background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
        background-image: -moz-linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
        background-image: -o-(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
        background-image: -webkit-gradient(linear, to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
        &:hover {
          color: black;
          cursor: pointer;
          background-position: right center;
        }
      }
    }
  }
  .visual {
    // border: 2px solid red;
    padding: 15px;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 367.5px;
    min-width: 320px;
    .image-wrapper {
      border-radius: 50%;
      height: 29vw;
      width: 29vw;
      overflow: hidden;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      .me-pic {
        background-size: cover;
        background-position: center;
        height: 30vw;
        box-shadow: inset 0 0 1px #000000;
        border-radius: 50%;
      }
    }
    .glasses {
      margin: 25px;
    }
  }
}

// ********** MEDIA QUERIES **********

// TABLET: potrait
@media screen and (max-width: 992px) {
  .bio-container {
    flex-direction: column-reverse;
    align-items: center;
    .visual {
      width: 100%;
      padding: 0;
      .image-wrapper {
        height: 45vw;
        width: 45vw;
        .me-pic {
          height: 45vw;
        }
      }
      .glasses{
        margin: 27px 0 0;
        .svg-glasses {
          height: 5vw;
        }
      }
    }

    .profile {
      width: 100%;
      h1 {
        font-size: 43px;
        margin: 0;
      }
      .bio-text {
        border-radius: 5px;
        line-height: 1.4;
        font-size: 14px;
      }
    }
  }
}


// PHONE: potrait
@media screen and (max-width: 480px) {
  .bio-container {
    flex-direction: column-reverse;
    align-items: center;
    // margin: 45px 25px 0 40px;

    .profile {
      width: 100%;
      h1 {
        font-size: 43px;
        margin: 0;
      }
      .bio-text {
        border-radius: 5px;
        line-height: 1.4;
        font-size: 16px;
      }
    }

    .visual {
      width: 100%;
      padding: 0;
      .image-wrapper {
        height: 80vw;
        width: 80vw;
        .me-pic {
          height: 80vw;
        }
      }
      .glasses{
        margin: 27px 0 0;
        .svg-glasses {
          height: 10vw;
        }
      }
    }

  }
}
