.contact-wrapper {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  hr {
    width: 30%;
    height: .3vh;
    border: none;
    background-size: 200% auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    margin: 2vw;
    margin-bottom: 10px;
  }
  .contact-info {
    text-align: center;
    font-family: "Comfortaa";
    h1 {
      font-size: 45px;
      letter-spacing: 7px;
      color: #b23a6c;
    }
    h4 {
      margin-top: 5px;
      letter-spacing: 2px;
      color: #26bd9f;
    }
  }
}
