.contact-wrapper {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  #b660fb60-2738-45cb-bcf5-2f531dcaa282 {
    fill: #b23a6c;
  }
  hr {
    width: 30%;
    height: .3vh;
    border: none;
    background-size: 200% auto;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 8px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -webkit-linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -moz-linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -o-(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    background-image: -webkit-gradient(linear, to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
    margin: 2vw;
    margin-bottom: 10px;
  }
  .contact-info {
    text-align: center;
    font-family: "Comfortaa";
    h1 {
      font-size: 45px;
      letter-spacing: 7px;
      color: #b23a6c;
    }
    h4 {
      // margin-top: 5px;
      letter-spacing: 2px;
      color: #26bd9f;
    }
  }

  p {
    font-family: "Comfortaa";
    background-color: #fffefe66;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    margin: 0;
  }
}

// ********** MEDIA QUERIES **********
// TABLET: potrait
@media screen and (max-width: 992px) {
  .contact-wrapper {
    justify-content: flex-start;
    margin-top: 24vh;
    .logo {
      height: 8.3vw;
      right: 32px;
      top: 15px;
    }

    .contact-visual {
      .svg-cat {
        height: 32vw;
        margin: 12px;
      }
    }

    hr {
      width: 60%;
    }

    .contact-info {
      h1 {
        font-size: 50px;
      }
      h4 {
        font-size: 23px;
      }
    }

    p {
      font-size: 23px;
      padding: 10px;
    }
  }
}

// PHONE: potrait
@media screen and (max-width: 480px) {
  .contact-wrapper {
    justify-content: flex-start;
    margin-top: 25vh;
    .logo {
      height: 15vw;
      top: 11px;
      right: 26px;
    }
    .contact-visual {
      .svg-cat {
        height: 34vw;
        margin: 12px;
      }
    }

    hr {
      width: 60%;
      height: .2vh;
    }

    .contact-info {
      h1 {
        font-size: 23px;
      }
      h4 {
        font-size: 13px;
      }
    }

    p {
      font-size: 12px;
    }
  }
}
