/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 45px;
  height: 32px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #787a81;
  border-radius: 5px;
  transition: 0.5s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #b23a6c;
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 45px !important;
  width: 40px !important;
  right: 36px !important;
  top: 26px !important;
  button {
    &:focus {
      outline: none;
    }
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47;
  height: 30px !important;
  width: 5px !important;
  border-radius: 5px;
}


/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  // background: #3d5ee169;
  // background: #647bd8e0;
  font-size: 1.1em;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Individual item */
.bm-item {
  font-family: "Comfortaa";
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 5px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
  &:focus {
    outline: none;
  }
  &:hover {
    color: black;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}


// ********** MEDIA QUERIES **********

// Phone: portrait
@media screen and (max-width: 360px) {
  .bm-burger-button {
    width: 40px;
    height: 27px;
  }
}

@media screen and (max-width: 480px) {
  .bm-item {
    font-size: 1.5em;
  }
}
