.site{
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-family: "Comfortaa";
    font-size: 50px;
    margin-top: 30px;
    letter-spacing: 7px;
    color: #b23a6c;
  }
  .site-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 17px;
    color: #26bd9f;
    font-family: "Comfortaa";
    font-weight: bold;
  }
}

// ********** MEDIA QUERIES **********

// TABLET: potrait
@media screen and (max-width: 992px) {
  .site {
    h1 {
      text-align: center;
      font-size: 37px;
    }
    .site-stack {
      font-size: 18px;
    }
  }
}

// PHONE: potrait
@media screen and (max-width: 480px) {
  .site {
    h1 {
      text-align: center;
      font-size: 37px;
    }
    .site-stack {
      font-size: 13px;
    }
  }
}
