.social-container {
  position: fixed;
  right: 36px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // .copyright {
  //   small {
  //     float: right;
  //   }
  // }
  .socials {
    display: flex;
    flex-direction: row;
    .icons {
      color: white;
      height: 40px;
      width: 40px;
      margin: 5px;
      background-size: 200% auto;
      box-shadow: 3px 5px 8px 0px #000000ab;
      background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s;
      &:hover {
        color: black;
        cursor: pointer;
        background-position: right center;
      }
    }
  }
}
