.splash-page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .floaties {
    display: flex;
    justify-content: space-around;
  }
  .splash-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      text-align: center;
      .about-btn {
        opacity: 0;
        font-family: 'Comfortaa';
        font-weight: bold;
        font-size: 12px;
        color: white;
        text-align: center;
        transition: 0.5s;
        border-radius: 10px;
        letter-spacing: 5px;
        margin: 0 auto;
        padding: 12px;
        border: none;
        background-size: 200% auto;
        box-shadow: 2px 7px 8px 0px #000000ab;
        background-image: linear-gradient(to right, #26bd9f 0%, #8b7ae2 51%, #26bd9f 100%);
        animation: fade_in 1.5s ease;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        &:hover {
          color: black;
          cursor: pointer;
          background-position: right center;
        }
      }
    }
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// ********** MEDIA QUERIES **********

// TABLET: potrait
@media screen and (max-width: 992px) {
  .splash-page {

    .splash-info {
      .name {
        height: 9vw;
      }
      .sub-name {
        height: 2.5vw;
      }
    }

    .floaties {
      margin: 35px;
      .laptop {
        height: 16vw;
      }
      .cat {
        height: 16vw;
      }
      .coffee {
        height: 8vw;
      }
      .glasses {
        height: 6.5vw;
      }
      .laptop, .cat, .coffee, .glasses {
        margin: 0 5px 0 5px;
      }
    }

    .pot {
      height: 17vw;
    }

  }
}

// PHONE: potrait
@media screen and (max-width: 480px) {
  .splash-page {
    margin-bottom: 40px;

    .splash-info {
      .name {
        height: 11vw;
      }

      .sub-name {
        margin: 6% 6%;
        height: 3.6vw;
      }
      a {
        .about-btn {
          font-size: 9px;
          padding: 9px;
          margin: 5px;
          letter-spacing: 3px;
          border-radius: 7px;
        }
      }
    }

    .floaties {
      margin: 30px;
      .laptop {
        height: 20vw;
      }
      .cat {
        height: 20vw;
      }
      .coffee {
        height: 12vw;
      }
      .glasses {
        height: 9vw;
      }
      .laptop, .cat, .coffee, .glasses {
        margin: 0 5px 0 5px;
      }
    }

    .pot {
      height: 21vw;
    }

  }
}
